body {
    background-color: aqua;
}
div {
    width: 600px;
    background-color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    background-color: orangered;
    color: #ffffff;
    text-align: center;
    padding-top: 3px;
    font-weight: 500;
}
form{
    margin-left: 50px;
}
td {
    padding: 5px;
}
.imf {
    padding: 5px;
    text-align: right;
    color: blue;
}
.hobby {
    color: orangered;
    padding: 0 10px;
}
.sub {
    text-align: center;
}

